.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 100px;

  a {
    margin-left: 40px;
    text-transform: uppercase;
    color: #4A4A4A;

    &.header-is-active {
      font-weight: bold;
      color: #DDB957;
    }
  }
}
